<h1> STUPID COACHING </h1>

<% if params[:question] == 'I am going to work' %>
<%= @answer = 'Great!' %>
<% elsif params[:question].include?('?') %>
<%= @answer = 'Silly question, get dressed and go to work!' %>
<% else %>
<%= @answer = 'I dont care, get dressed and go to work!' %>
<% end %>

<div>
<%= link_to "Ask another question!", ask_path %>
</div>
